<!-- cart.component.html -->
<app-navbar></app-navbar>
<div class="cart-container">

  <h2>Shopping Cart</h2>
  
  <ul>
  
  <li *ngFor="let product of cart" class="cart-item">
  
  <div class="cart-item-image">
  
  <img src="{{product.imageUrl}}" alt="{{ product?.name }}" width="50" height="50" />
  
  </div>
  
  <div class="cart-item-details">
  
  <p class="cart-name">{{product.name}}</p>
  
  <p class="cart-description">{{ product.description }}</p>
  
  <span class="cart-price">Price: ₹{{ product.price }}</span>
  
  <div class="cart-item-button">
  
  <button class="class-button" (click)="removeFromCart(product.id)">Remove</button>
  
  </div>
  
  </div>
  
  </li>
  
  </ul>
  
  </div>